*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
   
    background: orangered;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: black;
    
}

.nav{
    display: flex;
    height: 3.5rem;
    width: 100%;
    border: blue 2px solid;
    justify-content: space-between;
    align-items: center;
    padding-left: .5rem;
    padding-right: .5rem;
    background: #FFFFCC;
    
}

#logo-img{
    border-radius: 20px;
}




#container{
    background-color:rgba(255, 69, 0 , 0.5);
    border: #ff4500 2px solid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    margin: 20px;
   
}
#weatherDescription {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(19rem , 1fr));
    background-color: #ff4500 ;
    padding-top: 20px;
  }
    
.grid-item{
    display: flex;
    align-items: flex-start;
    background-color: #FFFFCC;
    border: 1px solid blue;
    padding: .5rem;
    font-size: 1.2rem;
    align-content: left;
    justify-content: center;
   
    
}
.datetime{
    font-weight: bolder;
    
}
#right-side {
    display: flex;
}
#right-side > ul{
    display: flex;
    flex-direction: row;
    
}
#right-side > ul > li{
    list-style: none;
    padding: 20px;
    
}
input{
    text-align: center;
    
}

#searchInput{
    height: 3vh;
    width: 10vw;

}

.display{
    text-align: center;
}

