*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-image: url('defaultImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: blue;
    text-shadow: 2px 2px 2px black;
}
#weatherContainer{
    background-color: rgb(0 , 0 ,0 , 0.25);
    box-shadow: 1px 1px 5px black;
    padding: 50px;
    border-radius: 2em;
    position: absolute;
   
}
#weatherContainer h1{
    margin: 2em;
}

input{
    text-align: center;
}

#searchInput{
    height: 5vh;
    width: 20vw;

}

.display{
    text-align: center;
}